<div class="demo">
  <div>Start Date: {{startDate | date:'mm/dd/yyyy'}}</div>
  <div>{{title | titlecase}}</div>
  <div>{{price | currency:''}}</div>
  </div>


<div class="courses">
  @for (course of courses; track trackCourse; let index = $index;let count = $count;
  let first = $first; let last = $last;let even = $even; let odd = $odd
  ) {
    <app-course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    [index]="index"
    [class.is-first]="first"
    [class.is-last]="last"
    [class.is-even]="even"
    [class.is-odd]="odd"
  />
  } @empty {
  <h1>No element found</h1>
  }
</div>
